service vendor.usb-gadget-hal /vendor/bin/hw/android.hardware.usb.gadget-service.gs101
    class hal
    user system
    group system shell mtp

on early-init
    chown root system /sys/class/typec/port0/power_role
    chown root system /sys/class/typec/port0/data_role
    chown root system /sys/class/typec/port0/port_type
    chown root system /sys/devices/platform/10d50000.hsi2c/i2c-5/i2c-max77759tcpc/contaminant_detection
    chown root system /sys/devices/platform/10d50000.hsi2c/i2c-6/i2c-max77759tcpc/contaminant_detection
    chown root system /sys/devices/platform/10d50000.hsi2c/i2c-7/i2c-max77759tcpc/contaminant_detection
    chown root system /sys/devices/platform/10d50000.hsi2c/i2c-8/i2c-max77759tcpc/contaminant_detection
    chown root system /sys/devices/platform/11110000.usb/dwc3_exynos_otg_b_sess
    chown root system /sys/devices/platform/11110000.usb/dwc3_exynos_otg_id
    chown root system /sys/devices/platform/11110000.usb/usb_data_enabled
    chmod 664 /sys/class/typec/port0/power_role
    chmod 664 /sys/class/typec/port0/data_role
    chmod 664 /sys/class/typec/port0/port_type
    chmod 664 /sys/devices/platform/11110000.usb/dwc3_exynos_otg_b_sess
    chmod 664 /sys/devices/platform/11110000.usb/dwc3_exynos_otg_id
    chmod 664 /sys/devices/platform/11110000.usb/usb_data_enabled
    # Disable USB data initially, even with existing connected device.
    # See usb/usb Usb.h and Usb.cpp. Match enableUsbData behavior when possible.
    # PULLUP_PATH to none (behaviorally, apparently optional)
    write /config/usb_gadget/g1/UDC none
    # ID_PATH to 1 (required when an OTG device is attached; otherwise apparently optional)
    write /sys/devices/platform/11110000.usb/dwc3_exynos_otg_id 1
    # VBUS_PATH to 0 (required when an OTG device is attached; otherwise apparently optional)
    write /sys/devices/platform/11110000.usb/dwc3_exynos_otg_b_sess 0
    # USB_DATA_PATH to 0 (required always)
    write /sys/devices/platform/11110000.usb/usb_data_enabled 0

service enable_usb_data /vendor/bin/init.enable_usb_data.sh /sys/devices/platform/11110000.usb/usb_data_enabled 1 /sys/class/typec/port0-partner /sys/class/typec/port0/data_role [host] /sys/devices/platform/11110000.usb/dwc3_exynos_otg_id 0 1 /sys/devices/platform/11110000.usb/dwc3_exynos_otg_b_sess 0 1
    disabled
    user nobody
    group system
    oneshot
